@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital@0;1&family=Poppins:ital,wght@0,400;1,300&display=swap');

body {
    font-family: 'Gentium Book Plus', serif;
    background-color: aliceblue;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    background-color: white;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 7px;
}
.top-player {
    margin-bottom: 30px;
}
.section-title {
    color: blue;
    font-size: 24px;
    margin-top: 3px;
}
hr {
    border: 1px solid gainsboro;
    margin-bottom: 27px;
}
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 56px;
    height: 56px;
}
.player-name {
    margin-left: 16px;
    font-size: 18px;
}
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog {
    display: flex;
}
.blog .thumbnail img {
    width: 177px;
    height: 117px;
}
.blog-info {
    margin-left: 16px;
}
.blog-title {
    font-size: 20px;
}
.blog-author {
    color: gray;
    font-size: 16px;
}
.blog-author a {
    text-decoration: none;
    font-size: 16px;
    font-size: 16px;
    color: blue;
}
.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 24px;
}
.course .course-banner img {
    width: 224px;
    height: 104px;
}
.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star {
    font-size: 12px;
}
.fa-star.filled {
    color: gold;
}
.fa-star.empty {
    color: rgb(204, 203, 203);
}
.course-duration {
    width: 100px;
    background-color: rgb(247, 187, 187);
    border-radius: 10px;
    text-align: center;
    color: brown;
}
@media only screen and (max-width:688px) {
    .container {
        width: 100%;
    }
    .players, .blogs, .courses {
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .blog {
        flex-direction: column;
    }
}
@media only screen and (min-width:688px) and (max-width:992px) {
    .container {
        width: 100%;
    }
    .players {
        grid-template-columns: repeat(2, 1fr);
    }
    .player {
        flex-direction: column;
    }
}